@for $i from 0 through 750 {
  // width: {0~750}rpx;
  .#{$prefix}w-#{$i}r {
    width: $i + rpx;
  }
  // min-width: {0~750}rpx;
  // .#{$prefix}min-w-#{$i}r {
  //   min-width: $i + rpx;
  // }
  // max-width: {0~750}rpx;
  // .#{$prefix}max-w-#{$i}r {
  //   max-width: $i + rpx;
  // }

  // height: {0~750}rpx;
  .#{$prefix}h-#{$i}r {
    height: $i + rpx;
  }
  // min-height: {0~750}rpx;
  // .#{$prefix}min-h-#{$i}r {
  //   min-height: $i + rpx;
  // }
  // max-height: {0~750}rpx;
  // .#{$prefix}max-h-#{$i}r {
  //   max-height: $i + rpx;
  // }
}

@for $i from 0 through 500 {
  // width: {0~500}px;
  .#{$prefix}w-#{$i} {
    width: $i + px;
  }
  // min-width: {0~500}px;
  // .#{$prefix}min-w-#{$i} {
  //   min-width: $i + px;
  // }
  // max-width: {0~500}px;
  // .#{$prefix}max-w-#{$i} {
  //   max-width: $i + px;
  // }

  // height: {0~500}px;
  .#{$prefix}h-#{$i} {
    height: $i + px;
  }
  // min-height: {0~500}px;
  // .#{$prefix}min-h-#{$i} {
  //   min-height: $i + px;
  // }
  // max-height: {0~500}px;
  // .#{$prefix}max-h-#{$i} {
  //   max-height: $i + px;
  // }
}

/* #ifndef APP-NVUE */
@for $i from 0 through 100 {
  // width: {0~100}%;
  .#{$prefix}w-#{$i}p {
    width: $i * 1%;
  }

  // height: {0~100}%;
  .#{$prefix}h-#{$i}p {
    height: $i * 1%;
  }
}

// Box Sizing
.#{$prefix}box-border {
  box-sizing: border-box;
}
.#{$prefix}box-content {
  box-sizing: content-box;
}
/* #endif */
