/* 对齐方式 */
.ta-l {
	text-align: left;
}

.ta-r {
	text-align: right;
}

.ta-c {
	text-align: center;
}

/* 粗体 */
.fw-b {
	font-weight: bold;
}

.fw-l {
	font-weight: lighter;
}
.fw-n {
	font-weight: normal;
}
.t-s{
	text-shadow: #999 2px 2px 5px;
}

/* 特殊处理 */
.td-lt{
  text-decoration:line-through;/* 加删除线 */
}

.t-oh{
    white-space: nowrap;
    overflow: hidden;/* 单行超出 */
    text-overflow: ellipsis;
}
.t-ohs{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;/* 多行超出 */
    -webkit-box-orient: vertical;
}
/* 多少行（3~15） */
.t-lc3 {-webkit-line-clamp:3; }.t-lc4 {-webkit-line-clamp:4; }.t-lc5 {-webkit-line-clamp:5; }.t-lc6 {-webkit-line-clamp:6; }.t-lc7 {-webkit-line-clamp:7; }.t-lc8 {-webkit-line-clamp:8; }.t-lc9 {-webkit-line-clamp:9; }.t-lc10 {-webkit-line-clamp:10; }.t-lc11 {-webkit-line-clamp:11; }.t-lc12 {-webkit-line-clamp:12; }.t-lc13 {-webkit-line-clamp:13; }.t-lc14 {-webkit-line-clamp:14; }.t-lc15 {-webkit-line-clamp:15; }

/* 字号(8~100) */
.fs-8 {font-size:8px; }.fs-9 {font-size:9px; }.fs-10 {font-size:10px; }.fs-11 {font-size:11px; }.fs-12 {font-size:12px; }.fs-13 {font-size:13px; }.fs-14 {font-size:14px; }.fs-15 {font-size:15px; }.fs-16 {font-size:16px; }.fs-17 {font-size:17px; }.fs-18 {font-size:18px; }.fs-19 {font-size:19px; }.fs-20 {font-size:20px; }.fs-21 {font-size:21px; }.fs-22 {font-size:22px; }.fs-23 {font-size:23px; }.fs-24 {font-size:24px; }.fs-25 {font-size:25px; }.fs-26 {font-size:26px; }.fs-27 {font-size:27px; }.fs-28 {font-size:28px; }.fs-29 {font-size:29px; }.fs-30 {font-size:30px; }.fs-31 {font-size:31px; }.fs-32 {font-size:32px; }.fs-33 {font-size:33px; }.fs-34 {font-size:34px; }.fs-35 {font-size:35px; }.fs-36 {font-size:36px; }.fs-37 {font-size:37px; }.fs-38 {font-size:38px; }.fs-39 {font-size:39px; }.fs-40 {font-size:40px; }.fs-41 {font-size:41px; }.fs-42 {font-size:42px; }.fs-43 {font-size:43px; }.fs-44 {font-size:44px; }.fs-45 {font-size:45px; }.fs-46 {font-size:46px; }.fs-47 {font-size:47px; }.fs-48 {font-size:48px; }.fs-49 {font-size:49px; }.fs-50 {font-size:50px; }.fs-51 {font-size:51px; }.fs-52 {font-size:52px; }.fs-53 {font-size:53px; }.fs-54 {font-size:54px; }.fs-55 {font-size:55px; }.fs-56 {font-size:56px; }.fs-57 {font-size:57px; }.fs-58 {font-size:58px; }.fs-59 {font-size:59px; }.fs-60 {font-size:60px; }.fs-61 {font-size:61px; }.fs-62 {font-size:62px; }.fs-63 {font-size:63px; }.fs-64 {font-size:64px; }.fs-65 {font-size:65px; }.fs-66 {font-size:66px; }.fs-67 {font-size:67px; }.fs-68 {font-size:68px; }.fs-69 {font-size:69px; }.fs-70 {font-size:70px; }.fs-71 {font-size:71px; }.fs-72 {font-size:72px; }.fs-73 {font-size:73px; }.fs-74 {font-size:74px; }.fs-75 {font-size:75px; }.fs-76 {font-size:76px; }.fs-77 {font-size:77px; }.fs-78 {font-size:78px; }.fs-79 {font-size:79px; }.fs-80 {font-size:80px; }.fs-81 {font-size:81px; }.fs-82 {font-size:82px; }.fs-83 {font-size:83px; }.fs-84 {font-size:84px; }.fs-85 {font-size:85px; }.fs-86 {font-size:86px; }.fs-87 {font-size:87px; }.fs-88 {font-size:88px; }.fs-89 {font-size:89px; }.fs-90 {font-size:90px; }.fs-91 {font-size:91px; }.fs-92 {font-size:92px; }.fs-93 {font-size:93px; }.fs-94 {font-size:94px; }.fs-95 {font-size:95px; }.fs-96 {font-size:96px; }.fs-97 {font-size:97px; }.fs-98 {font-size:98px; }.fs-99 {font-size:99px; }.fs-100 {font-size:100px; }

/* 行高(8~100) */
.lh-8 {line-height:8px; }.lh-9 {line-height:9px; }.lh-10 {line-height:10px; }.lh-11 {line-height:11px; }.lh-12 {line-height:12px; }.lh-13 {line-height:13px; }.lh-14 {line-height:14px; }.lh-15 {line-height:15px; }.lh-16 {line-height:16px; }.lh-17 {line-height:17px; }.lh-18 {line-height:18px; }.lh-19 {line-height:19px; }.lh-20 {line-height:20px; }.lh-21 {line-height:21px; }.lh-22 {line-height:22px; }.lh-23 {line-height:23px; }.lh-24 {line-height:24px; }.lh-25 {line-height:25px; }.lh-26 {line-height:26px; }.lh-27 {line-height:27px; }.lh-28 {line-height:28px; }.lh-29 {line-height:29px; }.lh-30 {line-height:30px; }.lh-31 {line-height:31px; }.lh-32 {line-height:32px; }.lh-33 {line-height:33px; }.lh-34 {line-height:34px; }.lh-35 {line-height:35px; }.lh-36 {line-height:36px; }.lh-37 {line-height:37px; }.lh-38 {line-height:38px; }.lh-39 {line-height:39px; }.lh-40 {line-height:40px; }.lh-41 {line-height:41px; }.lh-42 {line-height:42px; }.lh-43 {line-height:43px; }.lh-44 {line-height:44px; }.lh-45 {line-height:45px; }.lh-46 {line-height:46px; }.lh-47 {line-height:47px; }.lh-48 {line-height:48px; }.lh-49 {line-height:49px; }.lh-50 {line-height:50px; }.lh-51 {line-height:51px; }.lh-52 {line-height:52px; }.lh-53 {line-height:53px; }.lh-54 {line-height:54px; }.lh-55 {line-height:55px; }.lh-56 {line-height:56px; }.lh-57 {line-height:57px; }.lh-58 {line-height:58px; }.lh-59 {line-height:59px; }.lh-60 {line-height:60px; }.lh-61 {line-height:61px; }.lh-62 {line-height:62px; }.lh-63 {line-height:63px; }.lh-64 {line-height:64px; }.lh-65 {line-height:65px; }.lh-66 {line-height:66px; }.lh-67 {line-height:67px; }.lh-68 {line-height:68px; }.lh-69 {line-height:69px; }.lh-70 {line-height:70px; }.lh-71 {line-height:71px; }.lh-72 {line-height:72px; }.lh-73 {line-height:73px; }.lh-74 {line-height:74px; }.lh-75 {line-height:75px; }.lh-76 {line-height:76px; }.lh-77 {line-height:77px; }.lh-78 {line-height:78px; }.lh-79 {line-height:79px; }.lh-80 {line-height:80px; }.lh-81 {line-height:81px; }.lh-82 {line-height:82px; }.lh-83 {line-height:83px; }.lh-84 {line-height:84px; }.lh-85 {line-height:85px; }.lh-86 {line-height:86px; }.lh-87 {line-height:87px; }.lh-88 {line-height:88px; }.lh-89 {line-height:89px; }.lh-90 {line-height:90px; }.lh-91 {line-height:91px; }.lh-92 {line-height:92px; }.lh-93 {line-height:93px; }.lh-94 {line-height:94px; }.lh-95 {line-height:95px; }.lh-96 {line-height:96px; }.lh-97 {line-height:97px; }.lh-98 {line-height:98px; }.lh-99 {line-height:99px; }.lh-100 {line-height:100px; }
