/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-11-09 21:06:43
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-11-10 09:57:32
 */

/* #ifndef APP-NVUE */
.cu-p {
  cursor: pointer;
}

.cu-d {
  cursor: default;
}

.oy-s {
  overflow-y: scroll;
}

.ox-s {
  overflow-x: scroll;
}

.lh-n {
  line-height: normal;
}

/* #endif */

.o-h {
  overflow: hidden;
}

/* 省略 */
.c-e {
  overflow: hidden;
  text-overflow: ellipsis;

  /* #ifndef APP-NVUE */

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  /* #endif */

  /* #ifdef APP-NVUE */
  lines: 1;
  /* #endif */
}

.c-e-2 {
  overflow: hidden;
  text-overflow: ellipsis;

  /* #ifndef APP-NVUE */

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  /* #endif */

  /* #ifdef APP-NVUE */
  lines: 2;
  /* #endif */
}

.c-e-3 {
  overflow: hidden;
  text-overflow: ellipsis;

  /* #ifndef APP-NVUE */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* #endif */

  /* #ifdef APP-NVUE */
  lines: 3;
  /* #endif */
}

/* #ifdef APP-NVUE */

/* lines（1~100） */
@for $i from 0 through 100 {
  .line-#{$i} {
    lines: $i;
  }
}

/* #endif */
