/**
 * @name: index.scss
 * @author: SunSeekerX
 * @Date: 2020-06-06 21:21:53
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-06-06 21:23:33
 */

* {
  box-sizing: border-box;
}

.container {
  width: 750rpx;
  padding: 12px;
}
