// Flex
.#{$prefix}flex {
  display: flex;
}

// Flex Basis

// 行内 Flex

// Flex 方向
.#{$prefix}flex-row {
  flex-direction: row;
}
.#{$prefix}flex-row-reverse {
  flex-direction: row-reverse;
}
.#{$prefix}flex-col {
  flex-direction: column;
}
.#{$prefix}flex-col-reverse {
  flex-direction: column-reverse;
}

// Flex Wrap
.#{$prefix}flex-wrap {
  flex-wrap: wrap;
}
.#{$prefix}flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.#{$prefix}flex-nowrap {
  flex-wrap: nowrap;
}

// Flex Stretch
.#{$prefix}flex-1 {
  flex: 1 1 0%;
}
.#{$prefix}flex-auto {
  flex: 1 1 auto;
}
.#{$prefix}flex-initial {
  flex: 0 1 auto;
}
.#{$prefix}flex-none {
  flex: none;
}

// Flex Grow
.#{$prefix}flex-grow-0 {
  flex-grow: 0;
}
.#{$prefix}flex-grow {
  flex-grow: 1;
}

// Flex Shrink
.#{$prefix}flex-shrink-0 {
  flex-shrink: 0;
}
.#{$prefix}flex-shrink {
  flex-shrink: 1;
}