/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-11-09 21:06:43
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-11-10 00:24:04
 */

.c-0 {
  color: #000;
}

.c-1 {
  color: #111;
}

.c-2 {
  color: #222;
}

.c-3 {
  color: #333;
}

.c-4 {
  color: #444;
}

.c-5 {
  color: #555;
}

.c-6 {
  color: #666;
}

.c-7 {
  color: #777;
}

.c-8 {
  color: #888;
}

.c-9 {
  color: #999;
}

.c-f {
  color: #fff;
}

.bg-c-f {
  background-color: #fff;
}
