/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-11-09 21:06:43
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-11-10 09:48:27
 */

/* width (0~750)px */
@for $i from 0 through 750 {
  .w-#{$i} {
    width: $i + px;
  }

  /* width (0~750)rpx */
  .w-#{$i}r {
    width: $i + rpx;
  }
}

/* #ifndef APP-NVUE */

/* width (0~100)% */
@for $i from 0 through 100 {
  .w-#{$i}p {
    width: $i * 1%;
  }
}

/* #endif */
