/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-11-09 21:06:43
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-11-26 18:17:15
 */

/* text-align (left,right,center) */
.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

/* font-weight */

/* #ifndef APP-NVUE */
.fw-l {
  font-weight: lighter;
}

/* #endif */

.fw-b {
  font-weight: bold;
}

.fw-n {
  font-weight: normal;
}

@for $i from 1 through 9 {
  .fw-#{$i} {
    font-weight: $i * 100;
  }
}

/* special handling */
.t-oh {
  overflow: hidden;
  text-overflow: ellipsis;

  /* #ifndef APP-NVUE */
  white-space: nowrap;

  /* #endif */
}

/* #ifndef APP-NVUE */
.td-lt {
  text-decoration: line-through;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* #endif */

.t-ohs {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多少行（3~15） */

/* #ifndef APP-NVUE */
@for $i from 3 through 15 {
  .t-lc#{$i} {
    -webkit-line-clamp: $i;
  }
}

/* #endif */

/* 字号（8~100）px */
@for $i from 8 through 100 {
  .fs-#{$i} {
    font-size: $i + px;
  }

  .fs-#{$i}r {
    font-size: $i + rpx;
  }

  /* line-height（8~100）px */
  .lh-#{$i} {
    line-height: $i + px;
  }
  .lh-#{$i}r {
    line-height: $i + rpx;
  }
}
