/**
 * @name: 
 * @author: SunSeekerX
 * @Date: 2020-11-09 21:06:43
 * @LastEditors: SunSeekerX
 * @LastEditTime: 2020-11-10 09:47:47
 */

/* padding-top (0~100)px */
@for $i from 0 through 100 {
  .pt-#{$i} {
    padding-top: $i + px;
  }
  .pt-#{$i}r {
    padding-top: $i + rpx;
  }

  /* padding-right (0~100)px */
  .pr-#{$i} {
    padding-right: $i + px;
  }
  .pr-#{$i}r {
    padding-right: $i + rpx;
  }

  /* padding-bottom (0~100)px */
  .pb-#{$i} {
    padding-bottom: $i + px;
  }
  .pb-#{$i}r {
    padding-bottom: $i + rpx;
  }

  /* padding-left (0~100)px */
  .pl-#{$i} {
    padding-left: $i + px;
  }
  .pl-#{$i}r {
    padding-left: $i + rpx;
  }

  .p-all-#{$i} {
    padding: $i + px;
  }

  .p-all-#{$i}r {
    padding: $i + rpx;
  }
}

/* #ifndef APP-NVUE */

/* 左右边距(0~50px) */
@for $i from 0 through 50 {
  .p-0-#{$i} {
    padding-right: $i + px;
    padding-left: $i + px;
  }
  .p-0-#{$i}r {
    padding-right: $i + rpx;
    padding-left: $i + rpx;
  }

  /* 上下边距(0~50px) */
  .p-#{$i}-0 {
    padding-top: $i + px;
    padding-bottom: $i + px;
  }
  .p-#{$i}r-0 {
    padding-top: $i + rpx;
    padding-bottom: $i + rpx;
  }
}

/* #endif */
