@font-face {
  font-family: "iconfont"; 
  src: url('iconfont.woff2?t=1627007287308') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.icon-fl-xinxi::before {
  content: "\e633";
}

.icon-kong::before {
  content: "\e600";
}

.icon-changyongshili::before {
  content: "\e63f";
}

.icon-tool::before {
  content: "\e606";
}

.icon-zujian::before {
  content: "\e730";
}

.icon-daimashili::before {
  content: "\e62c";
}

.icon-hanshu::before {
  content: "\e623";
}

.icon-wode::before {
  content: "\e626";
}

.icon-shouye::before {
  content: "\ee12";
}

.icon-yingyong::before {
  content: "\e6e6";
}

.icon-gengduo::before {
  content: "\e65f";
}

