// 背景色
.#{$prefix}bgc-f {
  background-color: #fff;
}
.#{$prefix}bgc-t {
  color: transparent;
}
.#{$prefix}bgc-fff {
  color: #fff;
}
.#{$prefix}bgc-000 {
  color: #000;
}
@for $i from 1 through 9 {
  .#{$prefix}bgc-#{$i * 111} {
    color: string.unquote('##{$i * 111}');
  }
}
