/* border-width（0~20）px */
@for $i from 0 through 20 {
  .#{$prefix}bw-#{$i} {
    border-width: $i + px;
  }
  .#{$prefix}bw-#{$i}r {
    border-width: $i + rpx;
  }

  .#{$prefix}btw-#{$i} {
    border-top-width: $i + px;
  }
  .#{$prefix}btw-#{$i}r {
    border-top-width: $i + rpx;
  }

  .#{$prefix}brw-#{$i} {
    border-right-width: $i + px;
  }
  .#{$prefix}brw-#{$i}r {
    border-right-width: $i + rpx;
  }

  .#{$prefix}bbw-#{$i} {
    border-bottom-width: $i + px;
  }
  .#{$prefix}bbw-#{$i}r {
    border-bottom-width: $i + rpx;
  }
  .#{$prefix}blw-#{$i} {
    border-left-width: $i + px;
  }
  .#{$prefix}blw-#{$i}r {
    border-left-width: $i + rpx;
  }
}

/* border-radius (0~100)px */
@for $i from 0 through 100 {
  .#{$prefix}br-#{$i} {
    border-radius: $i + px;
  }
  .#{$prefix}br-#{$i}r {
    border-radius: $i + rpx;
  }

  /* border-radius (0~100)% */
  .#{$prefix}br-#{$i}p {
    border-radius: $i * 1%;
  }
}

/* border-style */
.#{$prefix}bs-dotted {
  border-style: dotted;
}
.#{$prefix}bs-dashed {
  border-style: dashed;
}
.#{$prefix}bs-solid {
  border-style: solid;
}

/* #ifndef APP-NVUE */
.#{$prefix}bs-none {
  border-style: none;
}
.#{$prefix}bs-hidden {
  border-style: hidden;
}
.#{$prefix}bs-double {
  border-style: double;
}
.#{$prefix}bs-groove {
  border-style: groove;
}
.#{$prefix}bs-ridge {
  border-style: ridge;
}
.#{$prefix}bs-inset {
  border-style: inset;
}
.#{$prefix}bs-outset {
  border-style: outset;
}

/* #endif */
