.#{$prefix}dp-f {
  /* #ifndef APP-NVUE */
  display: flex !important;

  /* #endif */
}

.#{$prefix}dp-fc {
  /* #ifndef APP-NVUE */
  display: flex !important;

  /* #endif */
  align-items: center !important;
  justify-content: center !important;
}

/* #ifndef APP-NVUE */
.#{$prefix}dp-ib {
  display: inline-block !important;
}
.#{$prefix}bs-bx {
  box-sizing: border-box;
}

/* #endif */

.#{$prefix}fd-r {
  flex-direction: row !important;
}

.#{$prefix}fd-rr {
  flex-direction: row-reverse !important;
}

.#{$prefix}fd-c {
  flex-direction: column !important;
}

.#{$prefix}fd-cr {
  flex-direction: column-reverse !important;
}

.#{$prefix}fw-w {
  flex-wrap: wrap !important;
}

.#{$prefix}fw-wr {
  flex-wrap: wrap-reverse !important;
}

.#{$prefix}jc-fs {
  justify-content: flex-start !important;
}

.#{$prefix}jc-fe {
  justify-content: flex-end !important;
}

.#{$prefix}jc-c {
  justify-content: center !important;
}

.#{$prefix}jc-sb {
  justify-content: space-between !important;
}

.#{$prefix}jc-sa {
  justify-content: space-around !important;
}

.#{$prefix}ai-fs {
  align-items: flex-start !important;
}

.#{$prefix}ai-fe {
  align-items: flex-end !important;
}

.#{$prefix}ai-c {
  align-items: center !important;
}

/* #ifndef APP-NVUE */
.#{$prefix}ai-bl {
  align-items: baseline !important;
}

.#{$prefix}ac-fs {
  align-content: flex-start !important;
}

.#{$prefix}ac-fe {
  align-content: flex-end !important;
}

.#{$prefix}ac-c {
  align-content: center !important;
}

.#{$prefix}ac-sb {
  align-content: space-between !important;
}

.#{$prefix}ac-sa {
  align-content: space-around !important;
}

.#{$prefix}as-fs {
  align-self: flex-start !important;
}

.#{$prefix}as-fe {
  align-self: flex-end !important;
}

.#{$prefix}as-c {
  align-self: center !important;
}

.#{$prefix}as-bl {
  align-self: baseline !important;
}

/* #endif */

/* flex (1~10) */
@for $i from 1 through 100 {
  .#{$prefix}f-#{$i} {
    flex: $i !important;
  }
}

// position
.#{$prefix}pt-f {
  position: fixed !important;
}

.#{$prefix}pt-r {
  position: relative !important;
}

.#{$prefix}pt-a {
  position: absolute !important;
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.r-0 {
  right: 0;
}

.bot-0 {
  bottom: 0;
}

.all-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
