/* 文本对齐 text-align (left,right,center) */
.#{$prefix}ta-l {
  text-align: left;
}
.#{$prefix}ta-r {
  text-align: right;
}
.#{$prefix}ta-c {
  text-align: center;
}

/* font-weight */

/* #ifndef APP-NVUE */
.#{$prefix}fw-l {
  font-weight: lighter;
}

/* #endif */

.#{$prefix}fw-b {
  font-weight: bold;
}

.#{$prefix}fw-n {
  font-weight: normal;
}

@for $i from 1 through 9 {
  .#{$prefix}fw-#{$i} {
    font-weight: $i * 100;
  }
}

/* special handling */
.#{$prefix}t-oh {
  overflow: hidden;
  text-overflow: ellipsis;

  /* #ifndef APP-NVUE */
  white-space: nowrap;

  /* #endif */
}

/* #ifndef APP-NVUE */
.#{$prefix}td-lt {
  text-decoration: line-through;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* #endif */

.#{$prefix}t-ohs {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多少行（3~15） */

/* #ifndef APP-NVUE */
@for $i from 3 through 15 {
  .#{$prefix}t-lc#{$i} {
    -webkit-line-clamp: $i;
  }
}

/* #endif */

/* 字号（8~100）px */
@for $i from 8 through 100 {
  .#{$prefix}fs-#{$i} {
    font-size: $i + px;
  }

  .#{$prefix}fs-#{$i}r {
    font-size: $i + rpx;
  }

  /* line-height（8~100）px */
  .#{$prefix}lh-#{$i} {
    line-height: $i + px;
  }
  .#{$prefix}lh-#{$i}r {
    line-height: $i + rpx;
  }
}

/* 文本颜色 {000~999} */
.#{$prefix}c-t {
  color: transparent;
}
.#{$prefix}c-fff {
  color: #fff;
}
.#{$prefix}c-000 {
  color: #000;
}
@for $i from 1 through 9 {
  .#{$prefix}c-#{$i * 111} {
    color: string.unquote('##{$i * 111}');
  }
}
